@import '~mentor-ui-constants';

.next-record {
	background: white;
	height: 80%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-top-left-radius: 9.3px;
	border-bottom-left-radius: 9.3px;
}

.previous-record {
	background: white;
	height: 80%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-top-right-radius: 9.3px;
	border-bottom-right-radius: 9.3px;
	width: 64px;
}

.end-of-records {
	border-right: 5px solid @ketchup;
	border-top: 5px solid @ketchup;
	border-bottom: 5px solid @ketchup;
	color: white;
	background: lighten(@ketchup, 15%);
}
