@import '~mentor-ui-constants';

.edit-form {
	margin: 0 auto;
	padding: 15px;
	background: white;
	width: 60%;
	height: 90%;
	border-radius: 9.3px;
	border: 2px solid @blue-gray-dark;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 9999;

	> .title-container {
		margin: 0 0 20px 0;
		padding-bottom: 5px;
		border-bottom: 5px solid @green-primary;
		display: flex;
		justify-content: space-between;

		> .title {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 2rem;
			letter-spacing: 1px;
			word-spacing: 2px;
		}

		> .close-form {
			cursor: pointer;
			color: @ketchup;
		}
	}

	> .field-container {
		display: flex;
		overflow: hidden;
		height: 100%;
		
		> .list-of-fields {
			width: 20%;
			padding-right: 12.5px;
			padding-left: 5px;
			border-right: 1px solid @gray-dark;
			min-height: 100%;
			overflow-y: auto;

			> .fields-ul {
				margin: 10px 0 0 0;
				padding: 0;
				list-style: none outside none;

				> .field-li {
					color: @link;
					margin: 12.5px 0;
					cursor: pointer;
				}
			}
		}

		> .fields {
			float: right;
			width: 80%;
			padding-right: 5px;
			padding-left: 12.5px;
			overflow-y: auto;
		
			> .field {
				font-size: 1rem;
				font-weight: 600;
				color: @charcoal;
				margin-bottom: 10px;
				padding: 0 12.5px;

				> label {
					display: inline-block;
					margin-bottom: 3.5px;
				}

				> span.cannot-update {
					color: @ketchup;
					float: right;
					font-size: 0.7rem;
					font-weight: 500;
				}

				> .file-input-container {
					display: flex;
					height: 100px;
					align-items: center;

					> .file-display {
						text-align: center;
						width: 25%;

						> .file-image {
							max-height: 75px;
						}

						> .file-link {
							font-size: .9rem;
							font-weight: 500;
						}

						> .file-delete {
							color: red;
							margin: 15px 0 0 0;
							font-size: .7rem;
							font-weight: 400;
							cursor: pointer;
						}
					}

					> .file-input {
						height: 100%;
						width: 75%;
					}
				}

				> .color-input-container {
					display: flex;
					align-items: center;
					justify-content: space-between;

					> .color-circle {
						width: 75px;
						height: 75px;
						border: 1.5px solid black;
						text-align: center;
						border-radius: 75px;
						margin: 0 auto;
					}
				}
			}
		}
	}

	> .footer {
		padding-top: 15px;
		border-top: 5px solid @green-primary;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0 0 0;
		font-size: 1.1rem;

		button {
			padding: 0;
			background: white;
			outline: none;
			border: 0;
			cursor: pointer;
			font-size: .9rem;

			&:hover:enabled {
				color: @green-primary;
			}
			
			&[disabled] {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}
}

.next-record {
	background: white;
	height: 60%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-top-left-radius: 9.3px;
	border-bottom-left-radius: 9.3px;
	border-left: 5px solid @blue-primary;
	border-top: 5px solid @blue-primary;
	border-bottom: 5px solid @blue-primary;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 64px;

	> .next-record-label {
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: 2px;
		writing-mode: vertical-rl;
		height: 100%;
		text-align: center;
		transform: rotate(180deg);
	}

	&:hover {
		color: white;
		background: lighten(@blue-primary, 15%);
	}
}

.previous-record {
	.next-record();

	border-top-right-radius: 9.3px;
	border-bottom-right-radius: 9.3px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-right: 5px solid @blue-primary;
	border-left: none;

	> .previous-record-label {
		.next-record > .next-record-label();

		writing-mode: vertical-lr;
		transform: none;
	}
}

.end-of-next-records {
	border-left: 5px solid @ketchup;
	border-top: 5px solid @ketchup;
	border-bottom: 5px solid @ketchup;
	color: white;
	background: lighten(@ketchup, 15%) !important;
	cursor: not-allowed;
}

.end-of-previous-records {
	.end-of-next-records();

	border-right: 5px solid @ketchup;
	border-left: none;
}

