@import '~mentor-ui-constants';

.APMCalendarDay {
	padding: 8px 0;
	text-align: center;
	cursor: pointer;
	color: @blue-primary;
	border: 1px solid @steel-blue;
	transition: hover .1s ease;

	&:hover {
		background: @blue-primary;
		color: @white;
	}

	&-current-day {
		background-color: @blue-primary;
		color: @white;
		font-weight: bold;
	}

	&-disabled-day {
		background-color: @steel-blue;
		color: @blue-gray-light;
		cursor: not-allowed;
		opacity: .4;
	}

	&-not-present-month {
		background-color: @blue-gray-light;
		color: @steel-blue;

		&-disabled {
			opacity: .4;
		}
	}
}
