@import '~mentor-ui-constants';

.APMOptionalControl {
	border: 1px solid @steel-blue;
	border-radius: 3px;
	margin-right: 12px;
	font-size: 12px;
	padding: 6px 15px;
	transition: hover .1s ease;

	&-icon {
		&-rm {
			margin-right: 6px;
		}
	}

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
		opacity: .8;
	}

	&:active {
		color: @white;
		background-color: @blue-gray-dark;
		border-color: @blue-gray-dark;
	}
}
