@import '~mentor-ui-constants';

.APMButton {
	font-size: 16px;
	border-radius: 3px;
	background-color: #8DC63F;
	border: none;
	color: #FFF;
	padding: 0px 18px;
	transition: all .1s ease;
	cursor: pointer;

	&:hover {
		background-color: rgba(141, 198, 63, .8);
	}

	&:focus {
		outline: none;
	}

	&:active {
		background-color: #4D8000;
	}

	&-block {
		width: 95%;
		margin: 2px auto;
		font-size: 24px;
		font-weight: bolder;
		line-height: 2px;
		height: 40px;
	}

  &-end-cap {
    &-left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-light {
    background-color: #FFF;
    border: 1px solid #8DC63F;
    color: #8DC63F;

    &:hover {
      background-color: #8DC63F;
      color: #FFF;
    }

	&:active {
		transition: none;
		background-color: @green-secondary;
		border-color: @green-secondary;
		color: #FFF;
	}
  }

	&-outline {
		background-color: @charcoal !important;
		border: 1px solid @blue-gray-dark;

		&:hover {
			background-color: @blue-gray-dark !important;
			color: #FFF !important;
		}

		&:active {
			transition: none !important;
			background-color: @gray-dark !important;
			border-color: @gray-dark !important;
			color: #FFF;
		}
	}

	&-is-mini {
		font-size: 14px;
		padding: 2px 8px;
	}

  &-is-medium {
	padding: 8px 14px;
	min-width: 70px;
	height: 40px;
  }

  &-is-capless {
    border-right: none;
    border-left: none;
    border-radius: 0;
  }

  &-is-disabled,
  &-is-disabled:hover {
    background-color: #B0BAC5;
    border: 1px solid #B0BAC5;
    color: #FFF;
    cursor: not-allowed;
  }
}
