
.row {
	display: flex;
	flex-wrap: wrap;
}


each(range(12), {
	@width: percentage(@value / 12);
	.col-@{value} {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		max-width: @width;
		-ms-flex: 0 0 @width;
		flex: 0 0 @width;
	}
})

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}
