@import '~mentor-ui-constants';

.APM-modal-overlay {
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0,0,0,0.7);
	z-index: @zIndex-modal;
	text-align: center;
	-webkit-animation: FADEIN 0.3s; /* Safari 4+ */
	-moz-animation:    FADEIN 0.3s; /* Fx 5+ */
	-o-animation:      FADEIN 0.3s; /* Opera 12+ */
	animation:         FADEIN 0.3s; /* IE 10+, Fx 29+ */	

	&:not(:first-of-type) {
		background: red;
	}
}


.APM-modal-overlay.apm-fullscreen {
	//position: initial;
}

.apm-modal-content.apm-fullscreen {
	// margin-top: 0;
	// width: 100%;
	// height: 100%;
}

.apm-modal-content {
	position: relative;
	overflow: auto;
	border-radius: 3px;
	height: calc(95vh - 48px);
	background: #fff;
	width: 95%;
	padding: 15px;
	margin: 24px auto;

	& &-no-padding {
		padding: 0;
	}

	.apm-modal-body {
		clear: right;
		width: 100%;
		height: 100%;
	}
}

.apm-modal-actions {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	display: flex;

	&-button {
		&:first-of-type {
			margin-right: 8px;
		}
	}
}

@-webkit-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


