@import '~mentor-ui-constants';

.APMTime {
	color: @white;

	&-showtime {
		text-align: center;
		margin-bottom: 24px;
		margin-top: 12px;
	}

	&-separater {
		display: inline-block;
		font-size: 32px;
		font-weight: bold;
		color: @blue-primary;
		width: 32px;
		height: 65px;
		line-height: 65px;
		text-align: center;
	}

	&-slider {
		display: flex;
		flex-direction: column;

		&-label {
			font-size: 14px;
			margin-bottom: 22px;
			color: @blue-primary;
		}

		&:first-child {
			margin-bottom: 32px;
		}
	}

	&-time {
		width: 65px;
		height: 65px;
		display: inline-block;
		font-size: 38px;
		line-height: 65px;
		background-color: @blue-primary;
		border-radius: 3px;
		text-align: center;
	}
}
