@import '~mentor-ui-constants';

.mui-mi-input-field {
	width: 100%;
	background-color: @white;
	border: 1px solid @blue-primary;
	color: @charcoal-dark;
	padding: 6px 12px;
	border-radius: 2px;
	font-size: .9rem;
	font-weight: 500;
	transition: background-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
	font-family: Arial, Helvetica, sans-serif;

	&-has-error {
		border: 1px solid @ketchup !important;
		background-color: lighten(@ketchup, 50%);
	}

	&:focus {
		border: 1px solid @green-primary;
	}

	&[disabled] {
		background-color: @green-light;
		cursor: not-allowed;
	}

	&:invalid {
		box-shadow: none;
	}
}

.mui-mi-container {
	position: relative;
	margin: 0;
	padding: 0;

	> .mui-mi-datepicker {
		position: absolute;
		z-index: @coverAll_zIndex;
		max-width: 400px;
		font-size: .9rem;
		background-color: @white;
	}

	> .mui-mi-list-filter {
		margin: 0;
		padding-right: 30px;
	}

	> .mui-list-filter-menu-ul {
		position: absolute;
		color: inherit;
		max-height: 250px;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		text-overflow: ellipsis;
		background-clip: padding-box;
		background-color: @white;
		text-align: left;
		margin: 1px 0 0 0;
		z-index: @extra_zIndex;
		text-shadow: none;
		padding: 0;
		list-style: none outside none;
		font-size: 12px;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
		border-radius: 3px;
		border-top: 1px solid @steel-blue;

		> .mui-list-filter-menu-li {
			color: inherit;
			padding: 3px 20px;
			clear: both;
			white-space: nowrap;
			border-radius: 3px;
			line-height: 25px;
			margin: 4px;
			text-align: left;
			font-weight: normal;
			display: inline-block;
			width: calc(100% - 8px);
			cursor: pointer;

			&:hover,
			&:active {
				color: @white;
				text-decoration: none;
				background-color: @blue-primary;
				outline: 0;
			}
		}

		> .mui-list-filter-menu-li-highlight {
			color: @white;
			text-decoration: none;
			background-color: @blue-primary;
			outline: 0;
		}
	}

	> .mui-mi-clear-input {
		position: absolute;
		right: 10px;
		width: 10px;
		color: @error;
		height: 13px;
		cursor: pointer;
		margin: 0;
		top: 50%;
		transform: translateY(-70%);
		padding: 0;
	}
}

.mui-textarea-resize-vert {
	resize: vertical;
}

.mui-mi-file-input {
	width: 100%;
	height: 100%;
	border-width: 2px;
	border-style: dashed;
	border-color: @blue-gray-dark;
	border-radius: 5px;
	background-color: @soft-white;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 5px 20px;
	text-align: center;
	font-size: .9rem;
	font-weight: 500;
	transition: border-style 0.15s ease-in-out 0s;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
}

.mui-mi-file-input-active {
	border-style: solid;
}
