@import '~mentor-ui-constants';

.mui-accordion {
	width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15);
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15);
	color: @charcoal;

	&-list-item:first-child {
		border-top: none;
	}

	&-list-item {
		border-top: 1px solid lightgrey;
		padding: 10px;

		> .title {
			cursor: pointer;
			margin-bottom: 10px;
			
			.icon {
				margin-right: 5px;
			}
		}

		> .content {
			animation-duration: 0.35s;
			animation-name: slidein;
			animation-timing: ease-in-out;
			padding: 5px 10px;
			position: relative;
		}
	}
}

@keyframes slidein {
	from {
		top: 20px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}
