@import '~mentor-ui-constants';

.APMDatePicker {
	display: inline-block;
	width: 330px;
	padding: 18px;
	border-radius: 3px;
	border: 1px solid @steel-blue;

	&-nav {
		&-container {
			margin-bottom: 36px;
		}
	}

	&-optional-controls {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;

		&-orphan {
			margin-right: 0;
		}
	}

	&-options {
		width: 100%;
		display: inline-block;
		margin-bottom: 24px;

		button {
			float: left;
			width: 50%;
			color: @blue-primary;
			text-align: center;
			font-size: 16px;
			padding: 7px;
			border: 1px solid @blue-primary;
			border-radius: 3px;

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&.is-active {
				color: @white;
				background-color: @blue-primary;
			}
		}
	}

	.tab {
		display: none;
		height: auto;

		&.is-active {
			display: block;
		}
	}

	.tabs {
		margin-bottom: 11px;
	}

	.btn-save {
		display: block;
		margin-top: 30px;
		width: 100%;
		background-color: @blue-primary;
		padding: 12px 0;
		text-align: center;
		color: @white;
		font-size: 16px;
		border-radius: 3px;
	}
}
