@import '~mentor-ui-constants';

.APMDatePicker {
	display: inline-block;
	width: 330px;
	padding: 18px;
	border-radius: 3px;
	border: 1px solid @steel-blue;

	&-nav {
		&-container {
			margin-bottom: 36px;
		}
	}

	&-optional-controls {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;

		&-orphan {
			margin-right: 0;
		}
	}
}
